[Unit]
Description=Portfolio Manager
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill portfolio_manager
ExecStartPre=-/usr/bin/docker rm portfolio_manager
ExecStartPre=/usr/bin/docker pull msull92/portfolio-manager
ExecStart=/usr/bin/docker run --env-file /srv/portfolio-manager/.env --name portfolio_manager msull92/portfolio-manager

[Install]
WantedBy=multi-user.target
