[Unit]
Description=Mood Receiver
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill mood_receiver
ExecStartPre=-/usr/bin/docker rm mood_receiver
ExecStartPre=/usr/bin/docker pull msull92/mood-receiver
ExecStart=/usr/bin/docker run --link mood_database:postgres --env-file /srv/mood-receiver/.env -v /srv/mood-receiver:/env --name mood_receiver msull92/mood-receiver

[Install]
WantedBy=multi-user.target
