[Unit]
Description=Mood Database
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill mood_database
ExecStartPre=-/usr/bin/docker rm mood_database
ExecStartPre=/usr/bin/docker pull postgres
ExecStart=/usr/bin/docker run --env-file /srv/mood-database/.env -v /data/mood-database:/var/lib/postgresql/data --name mood_database postgres

[Install]
WantedBy=multi-user.target
