[Unit]
Description=Mood Texter
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill msull92/mood-texter
ExecStartPre=-/usr/bin/docker rm msull92/mood-texter
ExecStartPre=/usr/bin/docker pull msull92/mood-texter
ExecStart=/usr/bin/docker run --env-file /srv/mood-texter/.env msull92/mood-texter

[Install]
WantedBy=multi-user.target
