[Unit]
Description=MACD Tracker
After=docker.macd-tracker-redis.service docker.kafka.service
Requires=docker.macd-tracker-redis.service docker.kafka.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill macd_tracker
ExecStartPre=-/usr/bin/docker rm macd_tracker
ExecStartPre=/usr/bin/docker pull msull92/macd-tracker
ExecStart=/usr/bin/docker run -m 100m --cpus=".25" --env-file /srv/macd-tracker/.env --network internal --name macd_tracker msull92/macd-tracker

[Install]
WantedBy=multi-user.target
