[Unit]
Description=Portfolio Presenter

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill portfolio_presenter
ExecStartPre=-/usr/bin/docker rm portfolio_presenter
ExecStartPre=/usr/bin/docker pull msull92/portfolio-presenter
ExecStart=/usr/bin/docker run --network internal --env-file /srv/portfolio-presenter/.env --name portfolio_presenter msull92/portfolio-presenter

[Install]
WantedBy=multi-user.target
