[Unit]
Description=msull92.com
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill msull92_com
ExecStartPre=-/usr/bin/docker rm msull92_com
ExecStartPre=/usr/bin/docker pull msull92/msull92-com
ExecStart=/usr/bin/docker run --network internal --name msull92_com msull92/msull92-com

[Install]
WantedBy=multi-user.target
