[Unit]
Description=Equity Signaler
After=docker.equity-signaler-database.service docker.kafka.service docker.service
Requires=docker.equity-signaler-database.service docker.kafka.service docker.service

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill equity_signaler
ExecStartPre=-/usr/bin/docker rm equity_signaler
ExecStartPre=/usr/bin/docker pull msull92/equity-signaler
ExecStart=/usr/bin/docker run --env-file /srv/equity-signaler/.env --name equity_signaler --link kafka --link equity_signaler_database msull92/equity-signaler

[Install]
WantedBy=multi-user.target
