[Unit]
Description=Starts the Portfolio Manager 30min before and after market open

[Timer]
OnCalendar=Mon..Fri *-*-* 13,15:00:00

[Install]
WantedBy=multi-user.target
