[Unit]
Description=Mood Presenter
After=docker.mood-database.service
Requires=docker.mood-database.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill mood_presenter
ExecStartPre=-/usr/bin/docker rm mood_presenter
ExecStartPre=/usr/bin/docker pull msull92/mood-presenter
ExecStart=/usr/bin/docker run -m 10m --cpus=".1" --env-file /srv/mood-presenter/.env --network internal --name mood_presenter msull92/mood-presenter

[Install]
WantedBy=multi-user.target
