[Unit]
Description=Pandora Database Presenter
After=docker.pandora-database.service
Requires=docker.pandora-database.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill pandora_database_presenter
ExecStartPre=-/usr/bin/docker rm pandora_database_presenter
ExecStartPre=/usr/bin/docker pull msull92/pandora-database-presenter
ExecStart=/usr/bin/docker run -m 10m --cpus=".1" --env-file /srv/pandora-database-presenter/.env --network internal --name pandora_database_presenter msull92/pandora-database-presenter

[Install]
WantedBy=multi-user.target
