[Unit]
Description=Kafka
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill kafka
ExecStartPre=-/usr/bin/docker rm kafka
ExecStartPre=/usr/bin/docker pull spotify/kafka
ExecStart=/usr/bin/docker run --env-file /srv/kafka/.env --name kafka spotify/kafka

[Install]
WantedBy=multi-user.target
