[Unit]
Description=Starts the Portfolio Manager 30min before and after market open

[Timer]
OnCalendar=Mon..Fri *-*-* 8,9:00:00 CT

[Install]
WantedBy=multi-user.target
