[Unit]
Description=Equity Signaler
After=docker.equity-signaler-redis.service docker.kafka.service
Requires=docker.equity-signaler-redis.service docker.kafka.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill equity_signaler
ExecStartPre=-/usr/bin/docker rm equity_signaler
ExecStartPre=/usr/bin/docker pull msull92/equity-signaler
ExecStart=/usr/bin/docker run -m 100m --cpus=".5" --env-file /srv/equity-signaler/.env --network internal --name equity_signaler msull92/equity-signaler

[Install]
WantedBy=multi-user.target
