[Unit]
Description=Portfolio Tracker
After=docker.kafka.service docker.service
Requires=docker.kafka.service docker.service

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill portfolio_tracker
ExecStartPre=-/usr/bin/docker rm portfolio_tracker
ExecStartPre=/usr/bin/docker pull msull92/portfolio-tracker
ExecStart=/usr/bin/docker run --env-file /srv/portfolio-tracker/.env --network internal --name portfolio_tracker msull92/portfolio-tracker

[Install]
WantedBy=multi-user.target
