[Unit]
Description=Selfie Texter
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill selfie_texter
ExecStartPre=-/usr/bin/docker rm selfie_texter
ExecStartPre=/usr/bin/docker pull msull92/selfie-texter
ExecStart=/usr/bin/docker run -m 50m --cpus=".1" --env-file /srv/selfie-texter/.env --name selfie_texter msull92/selfie-texter

[Install]
WantedBy=multi-user.target
