[Unit]
Description=Starts the Portfolio Manager every fifteen minutes on trading days

[Timer]
OnCalendar=Mon..Fri *-*-* *:0/15

[Install]
WantedBy=multi-user.target
