[Unit]
Description=Selfie Receiver
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill selfie_receiver
ExecStartPre=-/usr/bin/docker rm selfie_receiver
ExecStartPre=/usr/bin/docker pull msull92/selfie-receiver
ExecStart=/usr/bin/docker run --env-file /srv/selfie-receiver/.env --name selfie_receiver msull92/selfie-receiver

[Install]
WantedBy=multi-user.target
