[Unit]
Description=Portfolio Dashboard

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill portfolio_dashboard
ExecStartPre=-/usr/bin/docker rm portfolio_dashboard
ExecStartPre=/usr/bin/docker pull msull92/portfolio-dashboard
ExecStart=/usr/bin/docker run -m 25m --cpus=".1" --network internal --name portfolio_dashboard msull92/portfolio-dashboard

[Install]
WantedBy=multi-user.target
