[Unit]
Description=Certbot
After=docker.service
Requires=docker.service

[Service]
User=root
Group=root
Type=oneshot
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill certbot
ExecStartPre=-/usr/bin/docker rm certbot
ExecStartPre=/usr/bin/docker pull certbot/certbot
ExecStartPre=/usr/bin/systemctl stop docker.applications-router.service
ExecStart=/usr/bin/docker run -m 25m --cpus=".1" -v /data/certbot:/etc/letsencrypt --env-file /srv/certbot/.env -p 80:80 -p 443:443 --name certbot certbot/certbot renew
ExecStartPost=/usr/bin/systemctl start docker.applications-router.service

[Install]
WantedBy=multi-user.target
