[Unit]
Description=Equity Signaler
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill equity_signaler
ExecStartPre=-/usr/bin/docker rm equity_signaler
ExecStartPre=/usr/bin/docker pull msull92/equity_signaler-texter
ExecStart=/usr/bin/docker run --env-file /srv/equity-signaler/.env --name equity_signaler msull92/equity-signaler

[Install]
WantedBy=multi-user.target
